# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.python-version
# venv
.venv/

# Terraform
infra

# Secrets
.env
.env.*
.env.example
test.py
uv.lock
pyproject.toml


node_modules/
dist/
build/
.cache/
.vite/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/
